[user]
	email = jonathan@sofiero.net
	name = Jonathan Süssemilch Poulain
[push]
	default = simple
[color]
	ui = true
	status = auto
	branch = auto
[commit]
	signingKey = 0x725C32334F613C0E
	gpgSign = true
